<app-burger-nav></app-burger-nav>
<nav class="navbar navbar-light custom-navbar">
  <div class="container">
    <a class="navbar-brand">.damla</a>

    <a
      href="#"
      class="burger"
      data-toggle="collapse"
      data-target="#main-navbar"
    >
      <span></span>
    </a>
  </div>
</nav>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th
          scope="col"
          (click)="sortbycolumn(column_name)"
          *ngFor="let column_name of columnlist"
        >
          <span>{{ column_name.value }}</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td scope="row">{{ item.name }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.office }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.start_date }}</td>
        <td>{{ item.salary }}</td>
      </tr>
    </tbody>
  </table>
</div>
