<app-burger-nav></app-burger-nav>
<nav class="navbar navbar-light custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="index.html">.damla</a>

    <a
      href="#"
      class="burger"
      data-toggle="collapse"
      data-target="#main-navbar"
    >
      <span></span>
    </a>
  </div>
</nav>

<main id="main">
  <app-products-section></app-products-section>
  <app-client-section></app-client-section>
  <app-services-section></app-services-section>
  <app-testimonials-section></app-testimonials-section>
</main>
<!-- End #main -->
<app-footer></app-footer>
